.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.icons-container {
  border: solid;
  border-radius: 10px;
}

.span {
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.icon3 {
  width: 32px;
  height: 32px;
}
