/* sidebar.css */
.sidebar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.sidebar ul li .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #bbb;
}
